*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background: #11201d;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 10px 10%;
}
.links ul{
    display: flex;
}
.links ul li{
    list-style: none;
    padding: 10px ;
}
.links ul li a{
    text-decoration: none;
    color: #d8d8d8;
    transition: all .4s ease-in-out;
}
.links ul li a:hover,
.links ul li a.active{
    color: #000;
}
.logo a{
    text-decoration: none;
    color: #d8d8d8;
}

 /*Info on Amo on home page*/

.Amo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.information{
    font-size: larger;
}

.btn{
    width: 150px;
    height: 40px;
    background-color: #11201d;
    color: aliceblue;
    
}

/*Footer Part*/

.address{
    display: flex;
   
    justify-content: left;
}

 .location{
    display: flex;
    justify-content: right;
}

/*about me*/

.Technology{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.Drive{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.Goals{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
}

/*Contact Information*/

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 50px;

}

.container{
    max-width: 800px;
    margin: auto;
}

.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: #11201d;
}



.Video{
    height: 100vh;
}

  

